html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #535353;
    color: rgba(255, 255, 255, 0.753);
}

@tailwind base;
@tailwind components;
@tailwind utilities;